body {
  background: #eaeaea;
  font-size: larger;
}

blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #ccc;
  margin: 0;
}

pre {
  color:white;
  padding:17px;
  border-radius: 5px;
  background:black;
}

  header {
      width:15%;
        float:left;
          background:darkslategray;
        }

        header ul {
            margin: 10px 10px;
              padding:0;

            }

            header ul ul {
                margin:0px;
              }

              header ul li {
                  list-style:none;  
                    padding-left:10px;
                  }


                  header ul ul li:last-child {
                      margin-bottom: 10px;
                    }

                    header ul a {
                        text-decoration: none;
                          width: 100%;
                            display: block;
                              color:white;
                            }

                            header ul a:hover {
                                text-decoration: underline;
                              }

                              section>section {
                                  margin-left:18%;
                                }

                                section>section h1 {
                                    font-size:7em;
                                      margin:0;
                                    }
